Cython==0.29.*
spacy==2.1.0
numpy==1.20.3
bs4
pandas==1.1.5
nltk==3.4.4
scipy==1.5.3
plotly==4.14.3
torch==1.7.1
umap-learn==0.5.1
hdbscan==0.8.27
transformers==4.7.*
tqdm==4.61.2
dash==1.21.0
dash_bootstrap_components==0.12.2
dash_core_components==1.17.1
dash_cytoscape==0.3.0
dash_html_components==1.1.4
dash_table==4.12.0
scikit_learn==0.24.2
